In [1]:
import pandas as pd

In [3]:
output_dtypes = {
    'StartTime': 'float64',
    'FinishTime': 'float64',
    'ExecTime': 'float64'
}

output = pd.read_csv('output_example.csv', sep=';')
output.head()

   Cloudlet  Status   CloudletLen  StartTime  FinishTime  ExecTime
0        13  SUCCESS          504          0           1         1
1         5  SUCCESS          580          0           1         1
2         0  SUCCESS          596          0           1         1
3         7  SUCCESS          585          0           1         1
4        18  SUCCESS          565          0           1         1