In [1]:
import pandas as pd

In [14]:
output_dtypes = {
    'StartTime': float,
    'FinishTime': float,
    'ExecTime': float
}

output = pd.read_csv('exemplo_1_results_2020_02_06_17_19_11.csv', sep=';')
output.head()

   Cloudlet  Status   CloudletLen  StartTime  FinishTime  ExecTime
0         6  SUCCESS      5068841          0        5069      5069
1        29  SUCCESS      5093084          0        5093      5093
2        30  SUCCESS      5339600          0        5340      5340
3         4  SUCCESS      5431124          0        5431      5431
4        27  SUCCESS      5539461          0        5540      5540

In [ ]:
output['ExecTime'].max()